/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px 'Roboto Condensed', sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
	line-height: 1.35;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px 'Roboto Condensed', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }
* {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.content {
	box-sizing: border-box;
	width: 960px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*Comfortaa*/
@font-face {
	font-family: 'Comfortaa';
	src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}
/*Roboto Condensed*/
@font-face {
	font-family: 'Roboto Condensed';
	src: url(../fonts/Roboto/Roboto-Condensed.ttf);
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
	min-height: 100%;
}
	.wrapper:after {
		content: '';
		display: block;
		height: 270px;
		width: 100%;
	}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
	padding: 40px 0;
	background: url("../images/header/bg_header.jpg") no-repeat center;
}
	.header {
		color: #fff;
		font-size: 14px;
		text-align: center;
	}
	.main-logo {
		float: left;
		margin-top: 20px;
	}
		.main-logo a,
		.main-logo img {
			display: block;
			width: 280px;
			height: 70px;
		}
	.contact-box {
		float: right;
	}
        .contact-box span,
        .info-box-header span {
            margin-bottom: 8px;
        }
		.header span {
			display: block;
		}
		.contact-box .tell {
			font-size: 24px;
			color: #ffe373;
		}
	.info-box-header {
		width: 300px;
		margin: 0 auto;
	}
		.header .tell {
			font-size: 24px;
		}
        .address-box {}
            .address-box .text {
                font-size: 16px;
                border-bottom: 1px solid dotted;
            }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
	margin-top: -270px;
	padding: 30px 0 25px;
	color: #294754;
	font-size: 18px;
	text-align: center;
}
	.logo-footer {
		display: block;
		width: 160px;
		height: 40px;
		margin: 0 auto 5px;
	}
	.footer .action {
		font: 24px 'Comfortaa';
	}
	.contact-data {
		margin-top: 20px;
	}
		.contact-data li {
			font-family: 'Roboto Condensed', sans-serif;
		}