/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px 'Roboto Condensed', sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
	line-height: 1.35;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px 'Roboto Condensed', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }
* {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.content {
	box-sizing: border-box;
	width: 960px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*Comfortaa*/
@font-face {
	font-family: 'Comfortaa';
	src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}
/*Roboto Condensed*/
@font-face {
	font-family: 'Roboto Condensed';
	src: url(../fonts/Roboto/Roboto-Condensed.ttf);
}
/*Roboto*/
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
	min-height: 100%;
	background: url("../images/bg_wrap.png") repeat;
}
	.wrapper:after {
		content: '';
		display: block;
		height: 270px;
		width: 100%;
	}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
	padding: 38px 0;
	background: url("../images/header/bg_header.jpg") no-repeat center;
}
	.header {
		color: #fff;
		font-size: 14px;
		text-align: center;
	}
	.main-logo {
		float: left;
		margin: 20px 0 30px;
	}
		.main-logo a,
		.main-logo img {
			display: block;
			width: 280px;
			height: 70px;
		}
	.contact-box {
		float: right;
		margin-bottom: 30px;
	}
        .contact-box span,
        .info-box-header span {
            margin-bottom: 8px;
        }
		.header span {
			display: block;
		}
		.contact-box .tell {
			font-size: 24px;
			color: #ffe373;
		}
		.btn-popup {
			display: block;
			width: 160px;
			height: 44px;
			margin: 0 auto;
			font: 18px 'Comfortaa';
			background: #FAC532;
			color: #ce071d;
			border: none;
			cursor: pointer;

			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;

            -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow:    0 0 2px 0 rgba(0, 0, 0, 0.15);
            box-shadow:         0 0 2px 0 rgba(0, 0, 0, 0.15);
		}
		.btn-popup:hover {
			background: #FAD400
		}
		.contact-box .btn-popup {
			width: 220px;
			margin-top: 12px;
			font-size: 20px;
			color: #7d3a1d;
		}
	.info-box-header {
		width: 300px;
		margin: 0 auto 30px;
	}
		.header .tell {
			font-size: 24px;
		}
        .address-box {
			position: relative;
			margin-top: 14px;
		}
            .address-box .text {
				position: relative;
				display: inline-block;
				margin: 0 0 0 28px;
                font-size: 16px;
                border-bottom: 1px dashed #fff;
				cursor: pointer;
            }
			.address-box .text:before {
				content: '';
				position: absolute;
				left: -25px;
				top: 8px;
				display: block;
				width: 14px;
				height: 7px;
				background: url("../images/header/triagle_white_top.png") no-repeat;
			}
			.list-city-dw {
				display: none;
				position: absolute;
				top: 36px;
				left: 45px;
				z-index: 10;
				box-sizing: border-box;
				min-width: 220px;
				padding: 15px 30px;
				background: #FAB800;
				text-align: left;

				-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
				-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
				box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);

				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
				.list-city-dw:before {
					content: '';
					position: absolute;
					top: -10px;
					left: 100px;

					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid #FAB800;
				}
				.list-city-dw li {
					color: #7d3a1d;
					text-align: left;
					font-size: 16px;
				}
					.list-city-dw li span {
						display: inline;
						margin-bottom: 0;
						cursor: pointer;

						-webkit-transition: 0s;
						-moz-transition: 0s;
						-ms-transition: 0s;
						-o-transition: 0s;
						transition: 0s;
					}
					.list-city-dw li span:hover {
						color: #fff;
					}
	.line-block {
		position: relative;
		display: block;
		width: 100%;
		height: 13px;
		background-position: center;
        background-repeat: no-repeat;
        background-image: url("../images/content/icon_header_blue.png");
	}
	.line-blue {
		background-image: url("../images/content/icon_header_blue.png");
	}
    .line-white {
        background-image: url("../images/content/icon_header_white.png");
    }
    .line-brown {
        background-image: url("../images/content/icon_header_brown.png");
    }
		.line-block:before,
		.line-block:after {
			content: '';
			position: absolute;
			top: 6px;
			display: block;
			width: 439px;
			height: 1px;
			background: #fff;
		}
        .line-block:before {
            left: 0;
        }
        .line-block:after {
            right: 0;
        }
		.line-blue:before,
		.line-blue:after {
			background: #477D93;
		}
        .line-brown:before,
        .line-brown:after {
            background: #7D3A1D;
        }

	.box-action {
		margin: 46px 0 26px;
		font-family: 'Comfortaa', sans-serif;
	}
		.box-action strong {
			display: block;
			letter-spacing: 1px;

			text-shadow: #595959 0 0 1px,
			#595959 0 0 1px, #595959 0 0 1px, #595959 0 0 1px;
		}
		.box-action .top-text {
			margin-bottom: 9px;
			font-size: 36px;
		}
		.box-action .bottom-text {
			font-size: 26px;
		}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.box-steps-work {
	padding: 27px 0;
	margin-bottom: 40px;
}
	.big-header h2 {
		margin-bottom: 30px;
		color: #c61617;
		font: 600 46px 'Comfortaa', sans-serif;
		text-align: center;
		letter-spacing: 1px;
	}
	.list-steps-work {
		position: relative;
		margin-bottom: 37px;
		text-align: center;
	}
		.list-steps-work:before,
		.list-steps-work:after {
			content: '';
			display: block;
			position: absolute;
			top: 55px;
			width: 94px;
			height: 10px;
			background: url("../images/content/cicrles.png") no-repeat;
		}
		.list-steps-work:before {
			left: 300px;
		}
		.list-steps-work:after {
			right: 300px;
		}
		.list-steps-work li {
			display: inline-table;
			width: 267px;
		}
			.list-steps-work img {
				display: block;
				width: 120px;
				height: 120px;
				margin: 0 auto 15px;
			}
			.list-steps-work span {
				position: relative;
				display: block;
				color: #10435a;
				font: 18px 'Roboto';
			}
				.list-steps-work span:after {
					content: '';
					position: absolute;
					left: -3px;
					top: 8px;
					display: inline-block;
					width: 6px;
					height: 6px;
					background: #10435A;

					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
				}
				.list-steps-work li:first-child span:after {
					display: none;
				}
.box-menu {
    margin-bottom: 40px;
}
	.header-section h2 {
		padding: 6px 0 18px;
		background: url("../images/content/bg_header.png") no-repeat;
		color: #fff;
		text-align: center;
		font: 24px 'Comfortaa', sans-serif;
	}
	.wrap-menu-js {
		overflow: hidden;
		position: relative;
	}
		.scroll-menu {
			position: absolute;
			top: 40px;
			left: 0;
			box-sizing: border-box;
			width: 230px;
			padding: 20px 0;
			background: #FBC633;
            color: #7d3a1d;

			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
            .scroll-menu section {
                padding: 0 15px;
            }
            .scroll-menu .top {
                padding-bottom: 14px;
                margin-bottom: 14px;
                background: url("../images/content/separator.png") repeat-x bottom;
            }
                .scroll-menu header {
                    text-align: center;
                }
                    .scroll-menu .logo-section-menu {
                        width: 80px;
                        height: 80px;
                        margin-bottom: 5px;
                    }
                    .scroll-menu h2 {
                        padding-bottom: 10px;
                        color: #7d3a1d;
                        font: 18px 'Comfortaa', sans-serif;
                        border-bottom: 1px solid #7d3a1d;
                        text-transform: uppercase;
                    }
                    .block-menu {
                        margin-top: 9px;
                    }
                        .block-menu li {
                            margin-bottom: 5px;
                            background: url("../images/content/icon_menu_romb.png") no-repeat 10px 8px;
                        }
                        .block-menu li:hover {
                            background-color: #FCD770;
                            -webkit-transition: all .2s;
                            -moz-transition: all .2s;
                            -ms-transition: all .2s;
                            -o-transition: all .2s;
                            transition: all .2s;
                        }
                            .block-menu li a {
                                display: block;
                                padding: 3px 0 2px 25px;
                                text-decoration: none;
                                color: #7d3a1d;
                                font: 14px  'Roboto';
                                text-transform: uppercase;
                            }
                    .header-basket,
                    .list-food-basket,
                    .list-food-basket li {
                        overflow: hidden;
                        font-size: 14px;
                    }
                    .header-basket {
                        margin-top: 8px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #7d3a1d;
                    }
                    .list-food-basket {
                        margin-bottom: 15px;
                        border-bottom: 1px solid #7d3a1d;
                    }
                    .list-food-basket li {
                        padding: 8px 0 5px;
                        border-top: 1px dashed #7d3a1d;
                    }
                    .list-food-basket li:first-child {
                        border: none;
                    }
                        .name-column,
                        .name-food {
                            float: left;
                        }
                        .amount-column,
                        .number {
                            float: right;
                        }
                        .name-food,
                        .number {
                            position: relative;
                            margin-bottom: 3px;
                        }
                            .number:after {
                                content: '';
                                display: inline-block;
                                position: relative;
                                top: 1px;
                                width: 13px;
                                height: 13px;
                                margin-left: 5px;
                                background: url("../images/content/delete.png") top no-repeat;
                                cursor: pointer;
                            }
                            .number:hover:after {
                                background-position: bottom;
                            }
                    .wrap-sum {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 18px;
                        text-align: center;
                    }
                        .wrap-sum .sum {
                            color: #ce071d;
                        }
                        .btn-white {
                            width: 100%;
                            background: #fff;
                            color: #7D3A1D;
                        }
                        .btn-white:hover {
                            color: #fff;
                            background: #7D3A1D;
                        }
		.box-list-food {
			float: right;
			width: 710px;
			margin-top: 35px;
		}
			.sub-header-section {
				position: relative;
				padding-bottom: 20px;
				margin-bottom: 30px;
				background: url("../images/content/icon_header_romb.png") no-repeat center bottom;
			}
				.sub-header-section:before,
				.sub-header-section:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 4px;
					width: 340px;
					height: 1px;
					background: #10435A;
				}
				.sub-header-section:before {
					left: 0;
				}
				.sub-header-section:after {
					right: 0;
				}
				.sub-header-section h2 {
					text-align: center;
					color: #10435a;
					font: 22px 'Comfortaa', sans-serif;
				}
			.wrap-list-food {
				overflow: hidden;
				width: 686px;
                margin-left: 24px;
			}
				.list-food {
					width: 726px;
				}
					.list-food li {
                        position: relative;
						display: inline-table;
                        box-sizing: border-box;
						width: 200px;
                        min-height: 490px;
						margin: 0 40px 45px 0;
                        padding: 15px 15px 15px;
						text-align: center;
						color: #10435a;
                        background: #fff;
                        border: 1px solid #F1F1F1;

                        -webkit-border-radius:10px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
					}
                    .list-food li:hover {
                        background: #EDF1F1;
                    }
						.min-logo {
							display: block;
							margin: 0 0 15px 20px;
						}
						.foto-food {
                            display: block;
							margin-bottom: 7px;
						}
						.list-food li h3 {
							padding-bottom: 10px;
							margin-bottom: 8px;
							font: 18px 'Comfortaa', sans-serif;
							border-bottom: 1px solid #10435a;
						}
                        .list-food li .bottom {
                            position: absolute;
                            bottom: 35px;
                        }
                            .list-food .description {
                                display: block;
                                margin-bottom: 104px;
                                padding-bottom: 5px;
                                font-size: 14px;
                                border-bottom: 1px solid #10435a;
                            }
                            .price {
                                display: block;
                                margin-bottom: 15px;
                                font-size: 18px;
                            }
	.box-menu .line-block {
		margin-top: 20px;
	}

.box-action-slider {
    overflow: hidden;
    height: 360px;
    margin-top: 40px;
    background: url("../images/content/bg_slider_action.jpg") no-repeat center;
    background-size: 100%;
}
    .action-slider {
        position: relative;
        margin: 23px auto 15px;
        text-align: center;
        font: 30px  'Comfortaa';
        text-transform: uppercase;
        color: #fff;
    }
        .action-slider .btn {
            position: absolute;
            top: 48%;
            cursor: pointer;
        }
        .action-slider .btn-prev {
            left: 0;
            display: block;
            width: 46px;
            height: 46px;
            background: url("../images/content/slider_action/triagle_prev.png") no-repeat;
        }
        .action-slider .btn-next {
            right: 0;
        }
            .action-slider strong {
                display: block;
            }
            .action-slider .foto {
                display: block;
                margin: 17px auto;
                width: 200px;
                height: 200px;
            }
/*----------------------------------------------------------------------------------*/
/*--------------------------------------INNER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.box-thnks {
    padding: 90px 0 50px;
    text-align: center;
}
    .box-thnks .header-section {
        margin-bottom: 47px;
    }
    .box-thnks p {
        margin-bottom: 42px;
        font-size: 24px;
        color: #10435a;
        letter-spacing: 1.6px;
    }
    .back-home,
    a.back-home {
        display: inline-block;
        height: 44px;
        width: 280px;
        background: #209296;
        text-decoration: none;
        font: 20px 'Comfortaa', sans-serif;
        line-height: 45px;
        color: #ffffff;
        letter-spacing: 0.5px;

        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .back-home:hover {
        background: #25AEB3;
        -webkit-box-shadow: 0 0 3px 1px rgba(130,130,130,.7);
        -moz-box-shadow: 0 0 3px 1px rgba(130,130,130,.7);
        box-shadow: 0 0 3px 1px rgba(130,130,130,.7);
    }
    .back-home:active {
        background: #25AEB3;
        -webkit-box-shadow: 0 0 3px 1px rgba(130,130,130,1);
        -moz-box-shadow: 0 0 3px 1px rgba(130,130,130,1);
        box-shadow: 0 0 3px 1px rgba(130,130,130,1);
    }
    .box-thnks .back-home {
        margin-bottom: 100px;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------POPUPS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.ordering {
    overflow: hidden;
    position: relative;
    width: 220px;
    padding: 26px 20px 16px;
    margin: 0 auto;
    background: #FAB800;
    color: #7d3a1d;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
    .close {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 10px;
        height: 10px;
        background: url("../images/content/bg_close.png") no-repeat center;
        cursor: pointer;
    }
    .close:hover {
        background-image: url("../images/content/bg_close_hover.png");
    }
    .ordering header h3 {
        margin-bottom: 16px;
        text-transform: uppercase;
        font: 300 18px 'Comfortaa', sans-serif;
        text-align: center;
    }
    .ordering .line-block {
        overflow: hidden;
        margin-bottom: 18px;
    }
        .ordering .line-block:before,
        .ordering .line-block:after {
            width: 70px;
        }
    .ordering p {
        margin-bottom: 15px;
        font-size: 14px;
        text-align: center;
    }
    .ordering .header-basket {
        padding-top: 8px;
        border-top: 1px solid #7D3A1D;
    }
    .ordering .wrap-sum {
        margin-bottom: 18px;
        padding-bottom: 14px;
        border-bottom: 1px solid #7D3A1D;
    }
    .ordering .third-person {
        margin-bottom: 0;
        font-size: 12px;
    }

    .ordering-form {
        margin-bottom: 17px;
    }
        .list-ord-form li {
            margin-bottom: 20px;
            text-align: center;
        }
            .list-ord-form input,
            .list-ord-form select {
                width: 200px;
                height: 32px;
                padding-left: 6px;
                border: none;
                font: 16px 'Roboto Condensed', sans-serif;
                color: #6b7b8d;

                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }
            .list-ord-form input {
                width: 178px;
                padding: 0 11px;
            }
            input.error {
                border: 1px solid #ff0000;
            }
            .list-ord-form input::-webkit-input-placeholder {
                color: #6b7b8d;
            }
            .list-ord-form input::-moz-placeholder {
                color: #6b7b8d;
            }
            .list-ord-form input:-moz-placeholder {
                color: #6b7b8d;
            }
            .list-ord-form input:-ms-input-placeholder {
                color: #6b7b8d;
            }
        .ordering-form .btn-popup {
            width: 200px;
            height: 44px;
        }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
	background: #fff;
}
	.footer {
		margin-top: -270px;
		padding: 30px 0 25px;
		color: #294754;
		font-size: 18px;
		text-align: center;
	}
		.logo-footer {
			display: block;
			width: 160px;
			height: 40px;
			margin: 0 auto 5px;
		}
		.footer .action {
			font: 24px 'Comfortaa';
		}
		.contact-data {
			margin-top: 20px;
		}
			.contact-data li {
				font-family: 'Roboto Condensed', sans-serif;
			}