#jcl-demo .carousel {
    /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
    margin: 0 auto;
}
#jcl-demo1 .carousel1 {
    /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
    margin: 0 auto;
}

